# Esto hace análisis de sentimiento y se lo incorpora a las reviews de YELP

In [1]:
import pandas as pd

In [2]:
reviews_yelp_restaurant = pd.read_json(r'ETL/Archivos para unir/reviews_yelp_restaurant_reducido.json')

In [3]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()

# Defines a categorization for each sentiment analyzed: 2 for positive, 1 for neutral and 0 for negative.
def categorize_sentiment(score):
    if score < -0.05:
        return 0 #Bad
    elif score > 0.05:
        return 2 #Positive
    else:
        return 1 #Neutral
# In case it's needed, we make sure that the column is a string
reviews_yelp_restaurant['text'] = reviews_yelp_restaurant['text'].astype(str)

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\juanp\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [5]:
# Applys the sentintiment analysis to reviews and sorts results
reviews_yelp_restaurant['pol_score'] = reviews_yelp_restaurant['text'].apply(lambda review: sia.polarity_scores(review)['compound'])

In [6]:
reviews_yelp_restaurant

,id_review,user_id,id_business,stars,text,date,hour,pol_score
0,9,59MxRhNVhU9MYndMkz0wtw,14917,3,Had a party of 6 here for hibachi. Our waitres...,2016-07-25,07:31:06,0.9782
1,1175,lUYboGI6aFbZ0dX27pijpA,14917,1,"Sat down over a half hour, only miso and drink...",2017-06-28,01:04:59,0.0000
2,1694,SrfDRvGKI8FQq9LCr0dQuQ,14917,3,Not bad. Sushi roll was good but options were ...,2017-01-14,23:31:35,-0.3755
3,1713,SfMf7DEX7xT82OCcbZFsgQ,14917,5,I'm very picky when it comes to Sushi. Quality...,2016-07-14,23:09:38,0.9870
4,176669,ej4LXZp91X5RzPacP7mUbw,14917,3,If your looking for sushi on the cheap.. They ...,2013-05-01,22:08:47,0.2960
...,...,...,...,...,...,...,...,...
1040752,4664425,SIyeZkCrYQ06y9smaSXsgg,98045,1,I ordered chicken chow mein and I got cabbage ...,2020-01-12,23:38:11,-0.4959
1040753,4308525,3mHqV1VQufSB-IWEMqKSEQ,98045,1,Omg I haven't ate here in years but had an 2 h...,2018-02-06,22:18:41,-0.7684
1040754,4435875,Hxj1CnyYXSA84bl0D7_fiA,98045,4,Surprisingly good. I used my safety dish beef ...,2018-09-11,13:32:33,0.9287
1040755,4745764,PdIkotP4WQTJVDmWm5OCsg,98045,1,I want to start by saying I do not ever leave ...,2021-06-18,02:47:09,-0.9636
1040756,4861122,6ffDBqixydv4mFgz6usq3Q,98045,1,HORRIBLE food. We ordered sweet and sour chick...,2019-10-13,23:34:00,-0.8824

In [7]:
reviews_yelp_restaurant['rating'] = reviews_yelp_restaurant['pol_score'].apply(categorize_sentiment)

In [8]:
reviews_yelp_restaurant

,id_review,user_id,id_business,stars,text,date,hour,pol_score,rating
0,9,59MxRhNVhU9MYndMkz0wtw,14917,3,Had a party of 6 here for hibachi. Our waitres...,2016-07-25,07:31:06,0.9782,2
1,1175,lUYboGI6aFbZ0dX27pijpA,14917,1,"Sat down over a half hour, only miso and drink...",2017-06-28,01:04:59,0.0000,1
2,1694,SrfDRvGKI8FQq9LCr0dQuQ,14917,3,Not bad. Sushi roll was good but options were ...,2017-01-14,23:31:35,-0.3755,0
3,1713,SfMf7DEX7xT82OCcbZFsgQ,14917,5,I'm very picky when it comes to Sushi. Quality...,2016-07-14,23:09:38,0.9870,2
4,176669,ej4LXZp91X5RzPacP7mUbw,14917,3,If your looking for sushi on the cheap.. They ...,2013-05-01,22:08:47,0.2960,2
...,...,...,...,...,...,...,...,...,...
1040752,4664425,SIyeZkCrYQ06y9smaSXsgg,98045,1,I ordered chicken chow mein and I got cabbage ...,2020-01-12,23:38:11,-0.4959,0
1040753,4308525,3mHqV1VQufSB-IWEMqKSEQ,98045,1,Omg I haven't ate here in years but had an 2 h...,2018-02-06,22:18:41,-0.7684,0
1040754,4435875,Hxj1CnyYXSA84bl0D7_fiA,98045,4,Surprisingly good. I used my safety dish beef ...,2018-09-11,13:32:33,0.9287,2
1040755,4745764,PdIkotP4WQTJVDmWm5OCsg,98045,1,I want to start by saying I do not ever leave ...,2021-06-18,02:47:09,-0.9636,0
1040756,4861122,6ffDBqixydv4mFgz6usq3Q,98045,1,HORRIBLE food. We ordered sweet and sour chick...,2019-10-13,23:34:00,-0.8824,0

In [11]:
reviews_yelp_restaurant.to_csv(r'csv_sentimentado\yelp_reviews_with_sentiment_analysis.csv', index=False)